# Python & Virtual Env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
venv/
.venv/
env/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Database & Storage
*.db
*.sqlite3

# OS / Editor
.DS_Store
.vscode/
.idea/
